@tailwind base;
@tailwind components;
@tailwind utilities;
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove-arrow {
  -moz-appearance: textfield;
}
textarea {
  resize: none;
}
.customShadow:hover {
  box-shadow: 0px 1px 13px 4px rgba(255, 213, 153, 0.75);
  -webkit-box-shadow: 0px 1px 13px 4px rgba(255, 213, 153, 0.75);
  -moz-box-shadow: 0px 1px 13px 4px rgba(255, 213, 153, 0.75);
}
